
useDynLib(mplib, .registration=TRUE)

import(metapost)
importFrom(grid,
           convertX,
           convertY,
           gList,
           grid.draw,
           gTree)
importFrom(Rcpp,
           evalCpp)
importFrom(gridBezier,
           BezierGrob)

export("mpsolve",
       
       "grid.mplib",
       "mplibGrob")

S3method("makeContent", "mplibGrob")
